<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>Quixlab - Bootstrap Admin Dashboard Template</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">

    <!-- Pignose Calendar -->
    <link th:href="@{/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">

    <!-- Chartist -->
    <link th:href="@{/plugins/chartist/css/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <a th:href="@{/}">
                <b class="logo-abbr"><img th:src="@{/images/logo.png}" alt=""> </b>
                <span class="logo-compact"><img th:src="@{/images/logo-compact.png}" alt=""></span>
                <span class="brand-title">
                        <img th:src="@{/images/logo-text.png}" alt="">
                    </span>
            </a>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragments/header :: header"></div>
    <!--**********************************
        Header end
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragments/sidebarteacher :: sidebarteacher"></div>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                </ol>
            </div>
        </div>


            <div class="container-fluid">
                <!-- Row with Table A and B -->
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card">
                            <button type="submit" class="btn mb-1 btn-success">Success</button>
                            <div class="card-body">
                                <h4 class="card-title">QUIZ LIST</h4>
                                <div class="row m-b-30">
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="card border-primary">
                                            <div class="card-header">Header</div>
                                            <div class="card-body">
                                                <h5 class="card-title">Primary card title</h5>
                                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p><a href="/insidequiz" class="btn btn-primary">Go somewhere</a>
                                            </div>
                                            <div class="card-footer"><small>Last updateed 3 min ago</small>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Row with Column 2 (full width below) -->
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">CLASS PARTICIPANTS</h4>
                                <div class="table-responsive">
                                    <table class="table header-border">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>First</th>
                                            <th>Last</th>
                                            <th>User</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>1</th>
                                            <td>William</td>
                                            <td>Marks</td>
                                            <td>@william</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>





        <!-- Your page content here -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="fragments/footer :: footer"></div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<!-- Chartjs -->
<script th:src="@{/plugins/chart.js/Chart.bundle.min.js}"></script>
<!-- Circle progress -->
<script th:src="@{/plugins/circle-progress/circle-progress.min.js}"></script>
<!-- Datamap -->
<script th:src="@{/plugins/d3v3/index.js}"></script>
<script th:src="@{/plugins/topojson/topojson.min.js}"></script>
<script th:src="@{/plugins/datamaps/datamaps.world.min.js}"></script>
<!-- Morrisjs -->
<script th:src="@{/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/plugins/morris/morris.min.js}"></script>
<!-- Pignose Calendar -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/pg-calendar/js/pignose.calendar.min.js}"></script>
<!-- ChartistJS -->
<script th:src="@{/plugins/chartist/js/chartist.min.js}"></script>
<script th:src="@{/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"></script>

<!-- Dashboard Script -->
<script th:src="@{/js/dashboard/dashboard-1.js}"></script>

</body>

</html>
