<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="theme-name" content="quixlab" />

    <title>Create New Quiz</title>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <link th:href="@{/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/chartist/css/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <a th:href="@{/teacher}">
                <b class="logo-abbr"><img th:src="@{/images/logo.png}" alt=""></b>
                <span class="logo-compact"><img th:src="@{/images/logo-compact.png}" alt=""></span>
                <span class="brand-title"><img th:src="@{/images/logo-text.png}" alt=""></span>
            </a>
        </div>
    </div>
    <!--**********************************
        Header
    ***********************************-->
    <div th:replace="fragments/header :: header"></div>

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="row mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/teacher">Home</a></li>
                    <li class="breadcrumb-item"><a href="/teacher/teacher_classlist">Class</a></li>
                    <li class="breadcrumb-item active">Create Quiz</li>
                </ol>
            </div>
        </div>

        <div class="container-fluid">
            <!-- Create Quiz Header -->
            <div class="card mb-4">
                <div class="card-body">
                    <h4 class="card-title mb-3">Create a New Quiz</h4>
                    <form th:action="@{/teacher/save_quiz}" method="post">
                        <div class="form-group">
                            <label for="title">Quiz Title</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="Enter quiz title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Quiz Description</label>
                            <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter quiz instructions or details"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="classRoom">Select Class</label>
                            <select class="form-control" id="classRoom" name="classId" required>
                                <option th:each="c : ${classes}" th:value="${c.id}" th:text="${c.name}">Class Name</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Save Quiz</button>
                    </form>
                </div>
            </div>

            <!-- Question Type Section -->
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add Questions</h4>
                    <p class="text-muted">Choose what type of question you want to add to this quiz.</p>
                    <div class="d-flex flex-wrap gap-2">
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#modalMCQ">Multiple Choice</button>
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#modalTF">True or False</button>
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#modalIdent">Identification</button>
                        <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#modalEssay">Essay</button>
                    </div>
                </div>
            </div>

            <!-- MCQ Modal -->
            <div class="modal fade" id="modalMCQ" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form th:action="@{/teacher/add_question}" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Multiple Choice Question</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="type" value="MCQ">
                                <div class="form-group">
                                    <label>Question Text</label>
                                    <textarea class="form-control" name="text" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Choices</label>
                                    <input class="form-control mb-2" name="choice1" placeholder="Option 1">
                                    <input class="form-control mb-2" name="choice2" placeholder="Option 2">
                                    <input class="form-control mb-2" name="choice3" placeholder="Option 3">
                                    <input class="form-control mb-2" name="choice4" placeholder="Option 4">
                                </div>
                                <div class="form-group">
                                    <label>Correct Answer</label>
                                    <input class="form-control" name="correct" placeholder="Enter the correct option text" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save Question</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- True/False Modal -->
            <div class="modal fade" id="modalTF" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form th:action="@{/teacher/add_question}" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add True or False Question</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="type" value="TF">
                                <div class="form-group">
                                    <label>Statement</label>
                                    <textarea class="form-control" name="text" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Correct Answer</label>
                                    <select class="form-control" name="correct">
                                        <option value="TRUE">True</option>
                                        <option value="FALSE">False</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save Question</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Identification Modal -->
            <div class="modal fade" id="modalIdent" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form th:action="@{/teacher/add_question}" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Identification Question</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="type" value="IDENT">
                                <div class="form-group">
                                    <label>Question</label>
                                    <textarea class="form-control" name="text" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label>Correct Answer</label>
                                    <input type="text" class="form-control" name="correct" placeholder="Answer" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save Question</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Essay Modal -->
            <div class="modal fade" id="modalEssay" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <form th:action="@{/teacher/add_question}" method="post">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Essay Question</h5>
                                <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="type" value="ESSAY">
                                <div class="form-group">
                                    <label>Question Prompt</label>
                                    <textarea class="form-control" name="text" required></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success">Save Question</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div> <!-- container-fluid -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

    <div th:replace="fragments/footer :: footer"></div>
</div>

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>
<script th:src="@{/plugins/chart.js/Chart.bundle.min.js}"></script>
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/pg-calendar/js/pignose.calendar.min.js}"></script>

</body>
</html>
