<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- theme meta -->
    <meta name="theme-name" content="quixlab" />

    <title>Quixlab - Bootstrap Admin Dashboard Template</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">

    <!-- Pignose Calendar -->
    <link th:href="@{/plugins/pg-calendar/css/pignose.calendar.min.css}" rel="stylesheet">

    <!-- Chartist -->
    <link th:href="@{/plugins/chartist/css/chartist.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css}" rel="stylesheet">

    <!-- Custom Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->

<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div class="nav-header">
        <div class="brand-logo">
            <a th:href="@{/}">
                <b class="logo-abbr"><img th:src="@{/images/logo.png}" alt=""> </b>
                <span class="logo-compact"><img th:src="@{/images/logo-compact.png}" alt=""></span>
                <span class="brand-title">
                        <img th:src="@{/images/logo-text.png}" alt="">
                    </span>
            </a>
        </div>
    </div>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragments/header :: header"></div>
    <!--**********************************
        Header end
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->

    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">
        <div class="row  mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/teacher">Home</a></li>
                </ol>
            </div>
        </div>
        <!-- Your page content here -->
        <div class="container-fluid">
            <div class="col-lg-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Make a class</h5>
                    <form action="/teacher" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control input-rounded" placeholder="Class Name">
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="classPic">
                            <label class="custom-file-label" for="classPic">Class Picture</label>
                        </div>
                        <div class="container-fluid">
                            <button type="submit" class="btn mb-1 btn-success">Create Class</button>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <div class="row">
                <div class="col">
                    <h4 class="d-inline">Cards With Footer and Links</h4>
                    <p class="text-muted">This is 3 column contents</p>
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6 col-lg-3">
                            <div class="card">
                                <img class="img-fluid" src="images/big/img1.jpg" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text and below as a natural lead-in to the additional content. This content is a little bit longer.</p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text d-inline"><small class="text-muted">Last updated 3 mins ago</small>
                                    </p><a href="/teacher/teacher_classlist" class="card-link float-right"><small>Card link</small></a>
                                </div>
                            </div>
                        </div>
                        <!-- End Col -->

                    </div>
                </div>
            </div>
    </div>
    <!--**********************************
        Content body end
    ***********************************-->

    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="fragments/footer :: footer"></div>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/horizontal_gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<!-- Chartjs -->
<script th:src="@{/plugins/chart.js/Chart.bundle.min.js}"></script>
<!-- Circle progress -->
<script th:src="@{/plugins/circle-progress/circle-progress.min.js}"></script>
<!-- Datamap -->
<script th:src="@{/plugins/d3v3/index.js}"></script>
<script th:src="@{/plugins/topojson/topojson.min.js}"></script>
<script th:src="@{/plugins/datamaps/datamaps.world.min.js}"></script>
<!-- Morrisjs -->
<script th:src="@{/plugins/raphael/raphael.min.js}"></script>
<script th:src="@{/plugins/morris/morris.min.js}"></script>
<!-- Pignose Calendar -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<script th:src="@{/plugins/pg-calendar/js/pignose.calendar.min.js}"></script>
<!-- ChartistJS -->
<script th:src="@{/plugins/chartist/js/chartist.min.js}"></script>
<script th:src="@{/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js}"></script>

<!-- Dashboard Script -->
<script th:src="@{/js/dashboard/dashboard-1.js}"></script>

</body>

</html>
